/*TalentEd LogIn Template*/
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

* {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: Arvo;
}


.background-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

#video-bg-elem {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.content h1 {
  text-align: center;
  text-transform: capitalize;
  color: #fff
}

.login-section{
    width: 320px;
    height: 420px;
    background: linear-gradient(to bottom right, #17202A, #1C2833);;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 30px;
}

.pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-section p{
    margin: 0;
    padding: 0;
}

.login-section input{
    width: 100%;
    margin-bottom: 20px;
}

.login-section input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-section input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #D0D3D4;
    color: #17202A;
    font-size: 18px;
    border-radius: 20px;
}
.login-section input[type="submit"]:hover
{
    cursor: pointer;
    background: #CD6155;
    color: #fff;
}
.login-section a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-section a:hover
{
    color: #CD6155;
}

.banner-text{
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/*End*/

#footer {
  position: inherit;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0,0,0,0.9);
  color: white;
  text-align: center;
}
