/*TalentEd LogIn Template*/
@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,700');

* {
  margin: 0;
  padding: 0;
  font-family: ABeeZee;
}

body {
  background: url(/assets/coolmountain.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.content h1 {
  text-align: center;
  text-transform: capitalize;
  color: #fff
}

.login-section{
    width: 620px;
    height: 420px;
    background: linear-gradient(to bottom right, #17202A, #2C3E50);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 30px;
}

.pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.login-section p{
    margin: 0;
    padding: 0;
}

.login-section input{
    width: 200px;
    margin-bottom: 20px;
}

.login-section input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-section input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #D0D3D4;
    color: #17202A;
    font-size: 18px;
    border-radius: 20px;
}
.login-section input[type="submit"]:hover
{
    cursor: pointer;
    background: #CD6155;
    color: #fff;
}
.login-section a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-section a:hover
{
    color: #CD6155;
}

.banner-text{
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/*Box*/

.left-box {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 200;
  font-size: 20px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2 ease;
}

input[type="submit"] {
  margin-top: 5px;
  margin-left: 26px;
  margin-right: 26px;
  margin-bottom: 26px;
  width: 140px;
  height: 32px;
  background: #F44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.2 ease;
  cursor: pointer;
}

.right-box {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image: url(card.png);
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #34495E;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: center;
}

.right-box .signupwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button.social {
  margin-bottom: 30px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  transition: 0.2 ease;
  cursor: pointer;
}

.facebook {
  background: #32508E;
}

.twitter {
  background: #55ACEE;
}

.github {
  background: #1362AA;
}

/*End*/

#footer {
  position: inherit;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0,0,0,0.9);
  color: white;
  text-align: center;
  font-size: 18px;
}
