* {
  margin: 0;
  padding: 0;
}


body{
   width: 100%;
  height: 100vh;
  background: url("/img/1.jpg") center center no-repeat;
background-size: cover;
}



.form {
  background: rgba(1, 16, 36, 0.5);
  width: 500px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  border-radius: 25px;
  transition:1.5s;
}

.slide_out {
  opacity: 0;
}



.login{
  text-align: center;
  padding-top: 10%;
}


.form  img{
   margin-top:-40px;
    width:100px;
    border-radius: 50%;
}

.form form input {
  padding: 10px;
  margin-bottom:40px; 
  width: 210px;
  background: rgba(206, 226, 253, 1);
  border: none;
  font-size:15px;
  border-radius: 50px;
  transition:0.5s;

}

.form form button :hover{
  transform:scale(1.1);
  transition:0.5s;
}

input:focus{
  transform:scale(1.1);
  transition:0.5s;
}

.btn:hover{
  transform:scale(1.1);

}

.btn{
border:none;
  width:210px;
  padding: 10px;
transition:0.5s;
border-radius: 50px;
background: rgba(206, 226, 253, 1);
font-size:15px;

}

.buttons{
margin-top:20px;
}

#login{
  width:50%;
  border:none;
  padding: 10px;
transition:0.5s;
font-size:15px;
color: red;
background: rgb(1, 16, 36,.5);

}



#register{
  width:50%;
  border:none;
  padding: 10px;
transition:0.5s;
font-size:15px;
color: red;
float: right;
font-size:15px;
background: rgb(1, 16, 36,.5);



}

.active{
 color:whitesmoke;
}

.register{
  display:none;
  text-align: center;
  padding-top: 5%;
}

@media all and (max-width: 800px) { 

.form{
  left:0%;
  width: 100%;
  margin-left:0px;
  height:700px
}




}

