<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up | TalentEd</title>
    <link rel="stylesheet" href="/stylesheets/SignLook.css">
    <link rel="icon" href="/images/newlogo.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="content">
      <p class="banner-text">Join Us! Show the world you're TalentEd</p>
      <br/> <br/>
      <div class="login-section">
        <img src="https://cdn.glitch.com/2510be4b-441e-4689-8be2-29be95d39431%2Fnewlogo.png?1529281742869" class="pic">
        <div class="left-box">
          <h1>Sign Up</h1>
          <input type="text" name="username" placeholder="Your Username.."/>
          <input type="text" name="email" placeholder="Your Email.."/>
          <input type="password" name="password" placeholder="Password.."/>
          <input type="password" name="password" placeholder="Re-Type Pass.."/>
          <input type="submit" name="signup-button" value="Sign Up">
        </div>
        <div class="right-box">
          <span class="signupwith">Sign In with<br/>Social Network Login</span>
          <button class="social facebook">Facebook</button>
          <button class="social twitter">Twitter</button>
          <button class="social github">GitHub</button>
        </div>
        <div class="or">OR</div>
      </div>
      <footer id="footer">
      Powered by: Inv Technologies, © Talented 2018
    </footer>
    </div>

  </body>
</html>
